body {
    margin: 0 auto;
    min-height: 100vh;
    width: 1280px;
    height: 720px;
    background: #2F2E41;

}

.page {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

nav {
    padding-left: 99px;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 101px;
    padding-top: 71px;
    width: 1083px;
}

nav span {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;

}

nav span img {
    width: 13.14px;
    height: 16px;

}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    font-size: 14px;
    line-height: 28px;
}

main {
    width: 1092px;
    height: 283px;
    padding-left: 99px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
}

h1 {
    font-family: 'JetBrains Mono', sans-serif;
    text-align: justify;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    width: 609px;

}

h1 strong {
    color: #00BFA6;
}

main p {
    font-size: 16px;
    text-align: center;
    color: #c2c2c2;
    line-height: 28px;
    width: 604px;
    height: 168px;
    padding-top: 48px;

}

p span {
    color: #00BFA6;

}

hr {
    width: 568px;
    border-color: #00BFA6;
    margin-top: 157px;
}


footer p {
    text-align: center;
    font-family: 'JetBrains Mono', sans-serif;
    line-height: 28px;
    font-size: 16px;
}

#padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;

}